@import '~bootstrap/scss/bootstrap';

.App {
    margin-top: 55px;
}

#navb {
    .contact {
        background-color: #4469E3 !important;


        &:hover {
            background-color: #4469e3c5 !important;
        }

    }
}
#hero {
    button {
        background-color: #4469E3 !important;


        &:hover {
            background-color: #4469e3c5 !important;
        }

    }
}

.text-right {
    text-align: right;
}

#navb {

    .position-fixed {
        z-index: 10;
        top: 0px;


    }
}


#hero {
    .container {
        background-image: url('./Images/Hero.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 600px;
        width: 100%;
        border-radius: 10px;

        .hero-button {
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }

        .text-dark {
            width: 80%;
            margin: 0 auto;

            input {
                height: 50px;
                border: none !important;
            }

            p {
                font-weight: bold;
                text-align: left;
            }
        }

        button {
            height: 60px;
            min-width: 150px;
        }

    }
}

#guarantees {

    .cards-container {

        .card {
            width: calc((100% / 4) - 50px);
            max-width: 369px;
            text-align: left;
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: default;

            img {
                height: 80px;
                width: 80px;
            }

            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
            }

        }

    }
}

#recommended-destinations {

    .nav-tabs {
        .nav-link.active {
            border: none;
            border-bottom: 2px solid black;
        }

        .nav-link {
            border: 3px solid rgba(0, 0, 0, 0);

            &:hover {
                border: none;
                border-bottom: 3px solid black;
            }
        }

    }

    .row {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background-image: url('./Images/recommended-destinations/datails.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 130px;
            height: 120px;
            top: -50px;
            left: -50px;
            overflow: visible !important;
        }

        .mycard {
            min-width: 300px;
            margin: 0 auto;
            cursor: pointer;

            .card-body {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}

#blogs {
    h2 {
        font-weight: bold;
    }

    .cards-container {
        color: white;
        flex-wrap: wrap;

        .blog-content {
            pointer-events: none;

            h3 {
                font-weight: bold;
            }
        }

        .mcard {
            overflow: hidden;
            border: 10px solid white;
            border-radius: 20px;

            .blog-image {
                height: 100%;
                width: 100%;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .second-third-blogs {
            img {
                height: 100%;
                width: 100%;
            }

        }
    }
}

#reviews {
    margin: 50px auto;

    h2 {
        font-weight: bold;
    }

    .swiper-wrapper {
        margin: 50px 5px;

        .swiper-slide {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            border-radius: 20px;

            .slide {
                padding-left: 60px !important;

                &::before {
                    position: absolute;
                    content: "";
                    background-image: url('./Images/review-details.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 40px;
                    height: 40px;
                    top: 25px;
                    left: 5px;
                    overflow: visible !important;
                }
            }
        }
    }

}

#footer {
    margin: 40px 0px;

    .footer-content {
        background-color: #E2E8F8;
        border-radius: 10px;
        min-height: 80px;
        padding: 10px;

        a,
        p {
            text-decoration: none;
            color: black;
            margin: 0px 5px;
        }

        .footer-brand {
            p {
                font-weight: 500;
                cursor: default;
            }
        }

        .footer-links {
            a {
                &:hover {
                    font-weight: 600;
                }
            }
        }

        .footer-social {
            svg {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                margin: 5px;
                cursor: pointer;
            }
        }

    }

}

@media screen and (max-width: 1200px) {
    #guarantees {

        .cards-container {
            flex-wrap: wrap;

            .card {
                width: calc(50% - 50px);
                margin: 20px auto;

            }

        }

    }

}

@media screen and (min-width: 992px) {
    #hero {
        .container {
            .position-absolute {
                width: 80%;

                .m-auto.text-white.text-center {
                    max-width: 50%;
                }

                .hero-button {
                    width: fit-content;
                    margin-top: 0px;
                }

                .imput-container {
                    display: flex;
                    margin: 0 auto;
                    justify-content: space-between !important;

                    input {
                        width: 200px !important;
                    }
                }
            }
        }
    }

    #blogs {

        .cards-container {
            flex-wrap: nowrap;
        }
    }
}

@media screen and (max-width: 576px) {
    #guarantees {
        .card {
            width: 100% !important;

        }
    }
}